:root{
    --grey: rgb(85, 85, 85);
    --darkgrey: rgb(53, 53, 53);
    --lightgrey: rgb(163, 163, 163);
    --white: rgb(255,255,255);
    --lightblack: rgb(14, 14, 14);
    --black: rgb(0,0,0);
}

*{
    margin: 0;
    padding: 0;
}

html{scroll-behavior: smooth;}

body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    height: auto;
    margin: 1vh;
    padding: 1vh;
}

.profile{
    width: 183px;
    height: 183px;
    border-radius: 100%;
    background-image: url(https://th.bing.com/th/id/R.3143a18a98ee21cef2e13712add2b8e9?rik=qdJyDZHK3qg5lg&pid=ImgRaw&r=0;);
    background-size: cover;
    background-position: center;
    position: relative;
}

.notify{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 6px;
    right: 12px;
}

p{
    text-align: center;
    color: var(--black);
}